@{
}

@model IEnumerable<string>
<div class="blockquote">
    <a asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pageNum ="1" class="btn btn-lg btn-block btn-outline-secondary">Home</a>

    @foreach (string t in Model) //Added Bootstrap to these buttons
            {
                <a asp-controller="Home" asp-action="Index" asp-route-category="@t" asp-route-pageNum="1" class="btn btn-lg btn-block btn-group-vertical @(ViewBag.SelectedType == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
            }
</div>
