@page "/admin"


@{
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Book Store Admin</title>
    <base href="/" />
</head>

<body>

    <component type="typeof(Mission7.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>
</html>