@page "/admin/purchases"
@inherits OwningComponentBase<IPurchaseRepository>

<PurchaseTable TableTitle="Not Shipped" Purchases="NotShipped"
               ButtonLabel="Shipped" PurchaseSelected="ShipBook"></PurchaseTable>
<PurchaseTable TableTitle="Shipped Books" Purchases="ShippedBooks"
               ButtonLabel="Reset" PurchaseSelected="ResetPurchase"></PurchaseTable>

<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>
@code {
    public IPurchaseRepository repo => Service;
    public IEnumerable<Purchase> AllPurchases { get; set; }
    public IEnumerable<Purchase> NotShipped { get; set; }
    public IEnumerable<Purchase> ShippedBooks { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        AllPurchases = await repo.Purchases.ToListAsync();
        NotShipped = AllPurchases.Where(x => !x.Shipped);
        ShippedBooks = AllPurchases.Where(x => x.Shipped);
    }
    public void ShipBook(int id) => UpdatePurchase(id, true);
    public void ResetPurchase(int id) => UpdatePurchase(id, false);

    private void UpdatePurchase(int id, bool shipped)
    {
        Purchase p = repo.Purchases.FirstOrDefault(x => x.PurchaseId == id);
        p.Shipped = shipped;
        repo.SavePurchase(p);
    }
}