@page
@*@model Mission7.Pages.PurchaseCompletedModel*@
@model Mission7.Pages.BuyBooksModel
@{
}

<div class="text-center">
    <h2>Your Purchase has been succesfully ordered</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>